<div id="page-top">
	<div id="menu-top">
		<div class="menu-item" id="shoppingList">
			<div class="item">
				<span class="icon-shopping-cart"></span>
			</div>
		</div>
		<div class="menu-item" id="buyedList">
			<div class="item active">
				<span class="icon-ok"></span>
			</div>
		</div>
		<div class="menu-item" id="categoryList">
			<div class="item">
				<span class="icon-tags"></span>
			</div>
		</div>

		<div class="side-item mLeft">
			<div class="s-item" id="searchPanel">
				<span class="icon-search"></span>
			</div>
		</div>
		<div class="side-item high">
			<div class="s-item" id="options">
				<span class="icon-cog"></span>
			</div>
		</div>
	</div>
	<div class="submenu">
		<h1>Products bought list</h1>
		<a href="#" class="alertify-button alertify-button-ok" id="addProduct"><span class="icon-plus"></span> Add product</a>
	</div>
	<div id="search">
		<input type="search" placeholder="search..." />
	</div>
</div>
<div data-bb-type="screen" data-bb-effect="fade" data-bb-indicator="true">
	<div id="main-container">
	</div>
</div>